/* - Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%) */

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  color: hsl(240, 18%, 77%);
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  width:100vw;height:auto;
  min-height: 93vh;
  padding-top: 1px;
}

 #myCarousel {
   background-image: url(../images/pattern-bg.svg), url(../images/pattern-quotes.svg);
   background-repeat: no-repeat, no-repeat;
   background-position: top, 150px 370px;
   background-size: contain, 70px;
   box-sizing: border-box;
   height: 650px;
   width: 370px;
 }

.image-container {
  padding: 40px;
}

 img {
  border-radius: 2%;
  object-fit: scale-down;
 }

.buttons {
  background-color: white;
  border-radius: 20px;
  box-shadow: -4px 5px 10px -5px;
  display: flex;
    justify-content: space-between;
    align-items: center;
  height: 40px;
  padding: 0px 10px;
  position: absolute;
    top: 310px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  text-align: center;
  width: 80px;
}

.carousel-control-next-icon, .carousel-control-prev-icon  {
  filter: invert(50%);
  width: 15px;
}

p {
  color: hsl(240, 38%, 20%);
  padding-top: 30px;
  font-weight: 300;
  text-align: center;
}
h1, h2 {
  font-size: 20px;
  text-align: center;
}
h1 {
  color: hsl(240, 38%, 20%);
  font-weight: 700;
  margin-bottom: 0px;
}
h2 {
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
    bottom: 0;
}
.attribution a {color: hsl(240, 18%, 77%);}

@media only screen and (min-width: 800px) {

  #myCarousel {
    background-image: url(../images/pattern-bg.svg), url(../images/pattern-quotes.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 380px 70px, 120px 200px;
    background-size: 55%, 80px;
    display: flex;
      justify-content: center;
      align-items: center;
    height: 680px;
    width: 900px;
  }

  .carousel-inner {
    height: 500px;
    width: 800px;
  }

.image-container {
  position: absolute;
  width: 450px;
  right: 0;
  margin: auto;
}

.text-container {
  display: flex;
    flex-direction: column;
  position: absolute;
    left: 0;
    top: 120px;
  width: 430px;
}

p {text-align: left;}

h1, h2 {
  font-size: 15px;
  text-align: left;
  display: inline-block;
}

.buttons {
  margin-top: 10px;
  position: absolute;
    top: 480px;
    right: -130px;
}
}
